<div align='left'><font size="6" color="#FFA500">[LAB 05] KHAI THÁC MẪU KẾT HỢP (TT) </font></div>


> Sinh viên: Nguyễn Công Hoài Nam <br>
  Mã số sinh viên: 21280099

## Sử dụng thư viện

Tạo file `data.csv` (sử dụng lại data.csv của Bài 4) và đọc dữ liệu từ file.

In [34]:
import numpy as np
import pandas as pd
from pyECLAT import ECLAT


dataframe = pd.read_csv('data.csv', header = None)
dataframe

       0      1      2       3     4      5
0   Wine  Chips  Bread  Butter  Milk  Apple
1   Wine    NaN  Bread  Butter  Milk    NaN
2    NaN    NaN  Bread  Butter  Milk    NaN
3    NaN  Chips    NaN     NaN   NaN  Apple
4   Wine  Chips  Bread  Butter  Milk  Apple
5   Wine  Chips    NaN     NaN  Milk    NaN
6   Wine  Chips  Bread  Butter   NaN  Apple
7   Wine  Chips    NaN     NaN  Milk    NaN
8   Wine    NaN  Bread     NaN   NaN  Apple
9   Wine    NaN  Bread  Butter  Milk    NaN
10   NaN  Chips  Bread  Butter   NaN  Apple
11  Wine    NaN    NaN  Butter  Milk  Apple
12  Wine  Chips  Bread  Butter  Milk    NaN
13  Wine    NaN  Bread     NaN  Milk  Apple
14  Wine    NaN  Bread  Butter  Milk  Apple
15  Wine  Chips  Bread  Butter  Milk  Apple
16   NaN  Chips  Bread  Butter  Milk  Apple
17   NaN  Chips    NaN  Butter  Milk  Apple
18  Wine  Chips  Bread  Butter  Milk  Apple
19  Wine    NaN  Bread  Butter  Milk  Apple
20  Wine  Chips  Bread     NaN  Milk  Apple
21   NaN  Chips    NaN     NaN   NaN    NaN

Chuyển dữ liệu thành lớp `ECLAT` và khởi tạo `DataFrame` nhị phân

In [35]:
eclat_instance = ECLAT(data = dataframe, verbose = True)
eclat_instance.df_bin

100%|██████████| 6/6 [00:00<00:00, 399.20it/s]
  0%|          | 0/6 [00:00<?, ?it/s]

100%|██████████| 6/6 [00:00<?, ?it/s]
100%|██████████| 6/6 [00:00<00:00, 1493.52it/s]

    Milk  Butter  Bread  Chips  Wine  Apple
0      1       1      1      1     1      1
1      1       1      1      0     1      0
2      1       1      1      0     0      0
3      0       0      0      1     0      1
4      1       1      1      1     1      1
5      1       0      0      1     1      0
6      0       1      1      1     1      1
7      1       0      0      1     1      0
8      0       0      1      0     1      1
9      1       1      1      0     1      0
10     0       1      1      1     0      1
11     1       1      0      0     1      1
12     1       1      1      1     1      0
13     1       0      1      0     1      1
14     1       1      1      0     1      1
15     1       1      1      1     1      1
16     1       1      1      1     0      1
17     1       1      0      1     0      1
18     1       1      1      1     1      1
19     1       1      1      0     1      1
20     1       0      1      1     1      1
21     0       0      0      1     0      0

Khởi tạo các luật kết hợp

In [36]:
# count items in each row
items_per_transaction = eclat_instance.df_bin.astype(int).sum(axis=1)
# the item should appear at least at 5% of transactions
min_support = 0.5
# start from transactions containing at least 2 items
min_combination = 2
# up to maximum items per transactions
max_combination = max(items_per_transaction)
rule_indices, rule_supports = eclat_instance.fit(min_support = min_support, 
                                                 min_combination = min_combination,
                                                 max_combination = max_combination,
                                                 separator  = ' & ',
                                                 verbose = True)
result = pd.DataFrame(rule_supports.items(), columns=['Item','Support'])
# result = result.sort_values(by=['Support','Item'], ascending = False)
result

Combination 2 by 2

15it [00:00, 258.54it/s]

Combination 3 by 3

20it [00:00, 468.01it/s]

Combination 4 by 4

15it [00:00, 374.14it/s]

Combination 5 by 5

6it [00:00, 255.28it/s]

Combination 6 by 6

1it [00:00, 247.36it/s]

                     Item   Support
0           Milk & Butter  0.590909
1            Milk & Bread  0.590909
2             Milk & Wine  0.636364
3            Milk & Apple  0.500000
4          Butter & Bread  0.590909
5           Butter & Wine  0.500000
6          Butter & Apple  0.500000
7            Bread & Wine  0.590909
8           Bread & Apple  0.545455
9            Wine & Apple  0.500000
10  Milk & Butter & Bread  0.500000
11    Milk & Bread & Wine  0.500000

## Cài đặt lại thuật toán `Vertical Apriori`

### Xử lý dữ liệu

Chuyển `DataFrame` về dạng `List`

In [37]:
records = []
for i in range(0,dataframe.shape[0]):
    records.append([str(dataframe.values[i,j]) for j in range (0, dataframe.shape[1])])

Xử lý chuỗi `'nan'`

In [38]:
records = [[item for item in i if item != 'nan'] for i in records]
records

[['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Bread', 'Butter', 'Milk'],
 ['Bread', 'Butter', 'Milk'],
 ['Chips', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Milk'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Apple'],
 ['Wine', 'Chips', 'Milk'],
 ['Wine', 'Bread', 'Apple'],
 ['Wine', 'Bread', 'Butter', 'Milk'],
 ['Chips', 'Bread', 'Butter', 'Apple'],
 ['Wine', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk'],
 ['Wine', 'Bread', 'Milk', 'Apple'],
 ['Wine', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Chips', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Bread', 'Butter', 'Milk', 'Apple'],
 ['Wine', 'Chips', 'Bread', 'Milk', 'Apple'],
 ['Chips']]

Chuyển database sạng dạng `vertical`

In [39]:
def convert_vertical(records):
    transactions = {}
    for transaction_index, transaction in enumerate(records):
        for t in transaction:
            # frozenset là tập không thay đổi (immutable set) tức nó không cho phép chỉnh sửa, thay đổi hay giá trị lặp
            t = frozenset([t])
            if t not in transactions:
                transactions[t] = []
            transactions[t].append(transaction_index)
    return transactions

In [40]:
X = convert_vertical(records)
for i in X:
    print(i,"\t:",X[i])

frozenset({'Wine'}) 	: [0, 1, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 18, 19, 20]
frozenset({'Chips'}) 	: [0, 3, 4, 5, 6, 7, 10, 12, 15, 16, 17, 18, 20, 21]
frozenset({'Bread'}) 	: [0, 1, 2, 4, 6, 8, 9, 10, 12, 13, 14, 15, 16, 18, 19, 20]
frozenset({'Butter'}) 	: [0, 1, 2, 4, 6, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19]
frozenset({'Milk'}) 	: [0, 1, 2, 4, 5, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
frozenset({'Apple'}) 	: [0, 3, 4, 6, 8, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20]

### Cài đặt thuật toán

Cơ sở lý thuyết

- $C_k$: k-item candidate itemset (tâp ứng viên có k-hạng mục)

- $F_k$: k-item frequent itemset (được lọc ra từ $C_k$ với các giá trị thoã mãn `minimum_support`)

Tập $C_1$ được tạo riêng làm cơ sở để áp dụng các hàm sau

In [41]:
# Vì C_1 chỉ có một item duy nhất nên ta chỉ cần lấy các key của database X
# Vì X là database dạng vertical nên các key của nó chính là các itemsets (tập hạng mục)
def create_candidate_1_itemsets(X):
    c1 = []
    for transaction in X:
        c1.append(transaction)
    return c1

Tính $F_k$ (tập hạng mục thường xuyên)

In [42]:
# Hàm trả về tổng số giao dịch (với dữ liệu ngang thì nó là số dòng)
# Vì đây là dữ liệu dọc nên nó sẽ là số giao dịch lớn nhất trong danh sách tid
def find_num_transactions(X):

    num_transactions = 0
    for item in X:
        for tid in X[item]:
            if tid > num_transactions:
                num_transactions = tid 

    # Trả về tổng số giao dịch + 1 (vì Python bắt đầu đếm từ 0)
    return num_transactions + 1

def create_frequent_itemsets(X, ck, min_support):
    # Danh sách tập hợp mục thường xuyên
    freq_item = []
    # Tạo từ điển để lưu trữ hỗ trợ của mỗi tập hợp mục
    item_support = {}
    # Tìm tổng số giao dịch trong tập dữ liệu
    num_transactions = find_num_transactions(X)

    # Duyệt qua từng tập hạng mục ứng viên (tập ck)
    for items in ck:
        # tid_list lưu trữ các tid chung của các tập hạng mục
        tid_list = None  
        # Duyệt qua mỗi mục trong tập hạng mục
        for item in items:
            # Chuyển về dạng frozenset đảm bảo tính duy nhất và độc lập
            item = frozenset([item])
            # Nếu tid_list = None (tức là hạng mục đầu tiên)
            if tid_list is None:
                # Khởi tạo set với các hạng mục đầu tiên
                tid_list = set(X[item])  
            else:
                # Thực hiện phép giao lấy tid chung của các hạng mục trong tập hạng mục
                tid_list = tid_list.intersection(X[item]) 
        # Tính support = số tid chung / tổng giao dịch
        item_support[items] = len(tid_list) / num_transactions
        
    # Duyệt qua từng tập hạng mục và kiểm tra support
    for item in item_support:
        # Nếu hỗ trợ lớn hơn hoặc bằng min_support, thêm vào danh sách tập hạng mục thường xuyên
        if item_support[item] >= min_support:
            freq_item.append(item)
            
    # Trả về danh sách tập hạng mục thường xuyên và từ điển hỗ trợ
    return freq_item, item_support

Tính $C_k$ từ $F_{k-1}$

In [43]:
# Hàm hỗ trợ tính tổ hợp từ tập hợp các phần tử cho trước
from itertools import combinations

# Hàm tạo k-item candidate itemsets
def create_candidate_k_itemsets(freq_item, k):
    ck = []
    
    # Với k = 1, tạo 2-item candidate itemsets (c2)
    if k == 1:
        for f1, f2 in combinations(freq_item, 2):
            item = f1 | f2 # union of two sets
            ck.append(item)
    # Với k != 1
    else:    
        for f1, f2 in combinations(freq_item, 2):

            # Nếu k-itemset có k - 1 phần tử chung 
            # sẽ lấy phần hợp của chúng vào k+1-itemset
            intersection = f1 & f2
            if len(intersection) == k - 1:
                item = f1 | f2
                if item not in ck:
                    ck.append(item)
    return ck

Thuật toán `vertical apriori` chính trong đó:


- `X` là tập dữ liệu chứa các giao dịch (vertical). 
- `min_support` là ngưỡng hỗ trợ tối thiểu để một tập hạng mục được coi là thường xuyên.
- `min_combination` chỉ trả về các giao dịch có ít nhất **min_combination items** (mặc định là 1)
- `max_combination` chỉ trả về các giao dịch có tối đa **max_combination items** (mặc định bằng tất cả số hạng mục mà database có).

In [44]:
def apriori_from_scratch(X, min_support, min_combination=1, max_combination=None):

    # Khởi tạo max_combination nếu không được cung cấp
    if max_combination is None:
        max_combination = len(X)

    # Tạo tập hợp ứng viên 1-item (c1)
    c1 = create_candidate_1_itemsets(X)
    # Tạo tập hợp itemsets thường xuyên f1 từ c1
    freq_item, item_support_dict = create_frequent_itemsets(X, c1, min_support)
    # Thêm f1 vào freq_items (tập hợp các itemsets thường xuyên)
    freq_items = [freq_item]

    # Bắt đầu lặp từ k = 1
    k = 1
    while True:
        # Lấy tập hợp itemsets thường xuyên fk từ freq_items (được lưu dưới dạng list, bắt đầu từ index 0)
        freq_item = freq_items[k-1]
        # Tính tập hợp ứng viên ck+1 từ fk
        ck = create_candidate_k_itemsets(freq_item, k)
        # Tính tập hợp itemsets thường xuyên fk+1 từ ck+1 và từ điển hỗ trợ
        freq_item, item_support = create_frequent_itemsets(X, ck, min_support)
        # Nếu fk+1 trống => dừng
        # Kiểm tra điều kiện dừng để tránh thêm list rỗng vào freq_items
        if len(freq_item) == 0:
            break

        # Thêm fk+1 vào freq_items 
        freq_items.append(freq_item)
        # Cập nhật từ điển hỗ trợ tổng
        item_support_dict.update(item_support)
        # Tăng k để tiếp tục lặp
        k += 1

    # Chọn các tập hợp itemsets thường xuyên trong khoảng min_combination đến max_combination
    freq_items = freq_items[min_combination-1:max_combination-1]
        
    return freq_items, item_support_dict

### Kiểm tra và so sánh kết quả

In [45]:
X = convert_vertical(records)
min_support = 0.5
min_combination = 2
max_combination = len(X)

In [46]:
freq_items, item_support_dict = apriori_from_scratch(X,min_support, min_combination, max_combination)
freq_items

[[frozenset({'Bread', 'Wine'}),
  frozenset({'Butter', 'Wine'}),
  frozenset({'Milk', 'Wine'}),
  frozenset({'Apple', 'Wine'}),
  frozenset({'Bread', 'Butter'}),
  frozenset({'Bread', 'Milk'}),
  frozenset({'Apple', 'Bread'}),
  frozenset({'Butter', 'Milk'}),
  frozenset({'Apple', 'Butter'}),
  frozenset({'Apple', 'Milk'})],
 [frozenset({'Bread', 'Milk', 'Wine'}),
  frozenset({'Bread', 'Butter', 'Milk'})]]

Để dễ nhìn hơn ta làm sạch nó

In [47]:
def tidy(freq_items, item_support_dict):
    supports = []
    itemsets = []
    for itemset in freq_items:
        for item in itemset:            
            supports.append(item_support_dict[item])
            itemsets.append(item)
    df = pd.DataFrame({'Itemset': itemsets, 'Support': supports})
    df_sorted = df.sort_values(by=['Support'], ascending=False)
    return df_sorted

tidy(freq_items, item_support_dict)

                  Itemset   Support
2            (Milk, Wine)  0.636364
0           (Bread, Wine)  0.590909
4         (Butter, Bread)  0.590909
5           (Milk, Bread)  0.590909
7          (Butter, Milk)  0.590909
6          (Apple, Bread)  0.545455
1          (Butter, Wine)  0.500000
3           (Apple, Wine)  0.500000
8         (Butter, Apple)  0.500000
9           (Milk, Apple)  0.500000
10    (Milk, Bread, Wine)  0.500000
11  (Butter, Milk, Bread)  0.500000

Kết quả code tự làm giống với kết quả của thư viện `pyECLAT`